<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
<!--  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>cz.filmtit.server.GreetingServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/gui/greet</url-pattern>
  </servlet-mapping>-->

    <!--
  <servlet>
    <servlet-name>FilmTitBackendServer</servlet-name>
    <servlet-class>cz.filmtit.userspace.servlets.FilmTitBackendServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FilmTitBackendServer</servlet-name>
    <url-pattern>/gui/filmtit</url-pattern>
  </servlet-mapping>
    -->

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>gui.html</welcome-file>
  </welcome-file-list>

</web-app>
