/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: Silver;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-Label {
	margin: 2px;
	font-family: Verdana, sans-serif;
}
.gwt-Header {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
}
.suggestionsPopup {
	background-color: #eeeeee;
	box-shadow: black 2px 3px 3px;
}
.suggestionItem {
	width: 100%;
	border: 2px outset Silver;
	cursor: pointer;
}
.suggestionItemText {
}
.suggestionItemMatch {
	font-size: 80%;
}
.suggestionItemScore {
	width: 30px;
}
.scrollPanel {
	border: groove;
	height: 402px;
}
.mainPanel {
	padding-bottom: 20px;
}
.suggestionItemSource {
	font-size: 80%;
}
