/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.new_document {

}
.scrollPanel.creating_document {
	background: #fcfcfc;
}

.scrollPanel.translating {

}

.translationWorkspace {
    padding-bottom: 320px !important;
}

.parsing {
	background:  bottom center no-repeat url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///5mZmebm5rOzs5mZmb+/v8zMzNPT0yH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}


.fixedPlayer {
    position:fixed;
    height:260px;
    z-index:2;
    top:40px;
    background: whitesmoke;
}


.tableMoved {
    margin-top: 230px;
}


.chunk_timing {
	font-size: 11px;
	font-weight: normal;
	color: #777;
}

.nav li.active {
	margin-right: -1px;
	border-right: 0px;
}

div.tab-content {

}
.tabs-left > .nav-tabs {
	margin-right: 0px !important;
	border-right: 0 !important;
}

.chunk_l1 {
	padding-right: 10px;
}

tr.header td {
	height: 35px;
}
tr.header .gwt-Label {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 90%;
	color: #999;
	
}


.filmtit_container {
	width: 100%;
	padding-top: 15px;
}

.content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

body {
    width: 100%;
    height: 100%;
} 


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-Label {
	margin: 2px;
	font-family: Verdana, sans-serif;
}
.gwt-Header {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
}
.suggestionsPopup {


    -webkit-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);

	background: #fff;
	border: 1px solid #b0b0b0;
	
}
.suggestionItem {
	width: 100%;
	/*border: 2px outset Silver;*/
	border-bottom: 1px solid #EEE;
	cursor: pointer;
}
.suggestionItem p {
	margin: 4px 0;
}
.suggestionItem .row-fluid {
	padding: 8px 10px;
}

.suggestionItemText {
	font-weight: normal;
}
.suggestionItemMatch {
	font-size: 80%;
	font-style: italic;
}
.score {
	font-weight: bold;
	color: #777;
}

.suggestionItemScore {
	width: 30px;
}
.scrollPanel {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	padding: 10px 20px;
	border: 0px solid #ccc;
	/*height: 452px;*/
	overflow: visible;
}
.scrollPanel td {
	height: 45px;
}

.mainPanel {
	padding-bottom: 20px;
}
.suggestionItemSource {
	font-size: 80%;
	color: #999;
	
}

body textarea.subgest_fullwidth {
    width:380px;
}

.subgest_fullwidth {
    width:396px;
}

.gwt-RichTextArea-locked {
    border-color: green !important;
}

.gwt-RichTextArea-unlocked {
    border-color: red !important;
}

body textarea.subgest_halfwidth {
    width:220px;
}

.subgest_halfwidth {
    width:236px;
}

body textarea.pre_subgestbox {
	/*width: 380px;*/
	height: 20px;
	padding: 8px;
	margin: 0;
    margin-bottom: 5px;
	-webkit-box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0.0);
	box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0.0);
	display: block;
	outline: none;
	color: #333;
    resize: none;
}
body textarea.pre_subgestbox.loading {
	background: #F9F9F9 95% center no-repeat url(data:image/gif;base64,R0lGODlhEAALAPQAAPn5+czMzPHx8e/v7/X19czMzMzMzNTU1OLi4tzc3Ozs7NHR0djY2OTk5N3d3e3t7dLS0svLy9nZ2fT09PHx8ff399XV1fLy8vb29uvr6+fn5+/v7/X19QAAAAAAAAAAACH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAALAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAALAAAFLSAgjmRpnqSgCuLKAq5AEIM4zDVw03ve27ifDgfkEYe04kDIDC5zrtYKRa2WQgAh+QQACwABACwAAAAAEAALAAAFJGBhGAVgnqhpHIeRvsDawqns0qeN5+y967tYLyicBYE7EYkYAgAh+QQACwACACwAAAAAEAALAAAFNiAgjothLOOIJAkiGgxjpGKiKMkbz7SN6zIawJcDwIK9W/HISxGBzdHTuBNOmcJVCyoUlk7CEAAh+QQACwADACwAAAAAEAALAAAFNSAgjqQIRRFUAo3jNGIkSdHqPI8Tz3V55zuaDacDyIQ+YrBH+hWPzJFzOQQaeavWi7oqnVIhACH5BAALAAQALAAAAAAQAAsAAAUyICCOZGme1rJY5kRRk7hI0mJSVUXJtF3iOl7tltsBZsNfUegjAY3I5sgFY55KqdX1GgIAIfkEAAsABQAsAAAAABAACwAABTcgII5kaZ4kcV2EqLJipmnZhWGXaOOitm2aXQ4g7P2Ct2ER4AMul00kj5g0Al8tADY2y6C+4FIIACH5BAALAAYALAAAAAAQAAsAAAUvICCOZGme5ERRk6iy7qpyHCVStA3gNa/7txxwlwv2isSacYUc+l4tADQGQ1mvpBAAIfkEAAsABwAsAAAAABAACwAABS8gII5kaZ7kRFGTqLLuqnIcJVK0DeA1r/u3HHCXC/aKxJpxhRz6Xi0ANAZDWa+kEAA7AAAAAAAAAAAA);
}

iframe.gwt-RichTextArea, .pre_subgestbox {
/*	width: 396px;*/
}

iframe.gwt-RichTextArea, .pre_subgestbox {
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
/*	border: 1px solid !important; */
/*	border-bottom: 1px solid #aaa !important;*/
}

.mediasource_thumb {
	width: 60px;
	text-align: center;
	padding: 4px;
}

.no_thumb {
    width: 30px;
    height: 40px;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    color: #ddd;
    vertical-align: middle;
    line-height: 40px;
    display: inline-block;
}

.gwt-Hyperlink a {
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    padding: 9px 10px 11px 10px;
    line-height: 19px;
}

.gwt-Hyperlink a:link, .gwt-Hyperlink a:visited {
    color: #999999;
}

.gwt-Hyperlink a:hover, .gwt-Hyperlink a:focus {
    color: #ffffff;
    text-decoration: none;
}

.copying_title {
    color: #D1D1D1 !important;
}

.downloadButtons {
	text-align: center;
}
.new_document_button {
	float: right;
}


.subtitleDisplayedLeft, .subtitleDisplayedRight {
    width: 270px;
    min-height: 10px;
    color:white;
    position: relative;
    top: 80px;
    float:left;
}

.subtitleDisplayedLeft {
    text-align:right;
    margin-right:3px;
}

.subtitleDisplayedRight {
    text-align:left;
    margin-left:3px;
}

.vlcPlayerDisplayed {
    float:left;
}

.fixedPlayerWrapper {
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}


.statusPanel {
    clear: left;
    width: 100%;
    text-align: center;
    color: white;
}

.chunkmark {
    height: 24px;
    color: #999;
    font-weight: bold;
}

/* grouping: */
.row_group_begin, .row_group_continue, .row_group_end {
    /*height: 50px;*/
}
.row_group_continue {
    /*height: 42px;*/
}
.row_group_begin {
    /*height: 64px;*/
}
.row_group_end {
}

.numerical2digits input {
	width: 3ex;
    text-align: right;
}

.numerical3digits input {
	width: 4ex;
    text-align: right;
}

/*
.timEditDialog:
style copied from bootstrap's .modal and edited
*/

.timeEditDialog {
    z-index:1050;
    width:400px;
    background-color:#fff;
    border:1px solid #999;
    border:1px solid rgba(0,0,0,0.3);
    *border:1px solid #999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
    box-shadow:0 3px 7px rgba(0,0,0,0.3);
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding-box;
    background-clip:padding-box;
}

.timeEditDialog .dialogTopLeft,
.timeEditDialog .dialogTopRight,
.timeEditDialog .dialogMiddleLeft,
.timeEditDialog .dialogMiddleLeft,
.timeEditDialog .dialogBottom {
    display: none;    
}
	
.timeEditDialog .Caption {
	padding:9px 15px !important;
    border-top:none !important;
    border-bottom:1px solid #eee !important;
    background-color: #fff !important;

    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
	
.timeEditDialog .dialogContent {
    max-height:400px;
    padding:15px;
    overflow-y:auto;
}

.timeEditDialog table {
    width: 100%;
}

.timeEditDialog .table td,
.timeEditDialog .table th {
    text-align: center;
}

.timeEditDialog .dialogMiddleCenter {
    padding: 0;

    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

.playerInfoLink {
    list-style-type: none;
    margin-left: 2em;
    margin-bottom: 2em;
    font-style: italic;
}

/* HELP section */

div.figure {
	width: 100%;
	text-align: center;
	margin: 2em 0;
}

p.caption {
	color: #333;
	font-weight: bold;
}

div.help h1, div.help h2, div.help h3, div.help h4, div.help h5, div.help h6 {
	margin: 1em 0 0.2em 0;
	
}

div.help {
	padding-bottom: 5em;
}

