/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.new_document {
	background: white;
	padding: 15px;
	width: 600px;

	
	margin: 5px auto 0 auto;
}
.scrollPanel.creating_document {
	background: #fcfcfc;
}

.scrollPanel.translating {
	
}


.translationWorkspaceFixed {
    position:fixed;
}


.chunk_timing {
	font-size: 11px;
	font-weight: normal;
	color: #777;
}

.nav li.active {
	margin-right: -1px;
	border-right: 0px;
}

div.tab-content {

}
.tabs-left > .nav-tabs {
	margin-right: 0px !important;
	border-right: 0 !important;
}

.chunk_l1 {
	padding-right: 10px;
}

tr.header td {
	height: 35px;
}
tr.header .gwt-Label {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 90%;
	color: #999;
	
}


.filmtit_container {
	width: 100%;
	padding-top: 15px;
}

#content {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

body {
    width: 100%;
    height: 100%;
} 


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.gwt-Label {
	margin: 2px;
	font-family: Verdana, sans-serif;
}
.gwt-Header {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
}
.suggestionsPopup {


    -webkit-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);

	background: #fff;
	border: 1px solid #b0b0b0;
	
}
.suggestionItem {
	width: 100%;
	/*border: 2px outset Silver;*/
	border-bottom: 1px solid #EEE;
	cursor: pointer;
}
.suggestionItem p {
	margin: 4px 0;
}
.suggestionItem .row-fluid {
	padding: 8px 10px;
}

.suggestionItemText {
	font-weight: normal;
}
.suggestionItemMatch {
	font-size: 80%;
	font-style: italic;
}
.score {
	font-weight: bold;
	color: #777;
}

.suggestionItemScore {
	width: 30px;
}
.scrollPanel {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	padding: 10px 20px;
	border: 0px solid #ccc;
	/*height: 452px;*/
	overflow: visible;
}
.scrollPanel td {
	height: 45px;
}

.mainPanel {
	padding-bottom: 20px;
}
.suggestionItemSource {
	font-size: 80%;
	color: #999;
	
}

body input.subgest_fullwidth {
    width:380px;
}

.subgest_fullwidth {
    width:396px;
}

body input.subgest_halfwidth {
    width:220px;
}

.subgest_halfwidth {
    width:236px;
}

body input.pre_subgestbox {
	/*width: 380px;*/
	height: 20px;
	padding: 8px;
	margin: 0;
	-webkit-box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0.0);
	box-shadow:  0px 0px 0px 0px rgba(255, 255, 255, 0.0);
	display: block;
	outline: none;

}
body input.pre_subgestbox.loading {
	background: pink ;
}

iframe.gwt-RichTextArea, .pre_subgestbox {
/*	width: 396px;*/
}

iframe.gwt-RichTextArea, .pre_subgestbox {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
	border: 1px solid #eee !important;
/*	border-bottom: 1px solid #aaa !important;*/
}
