#eclipse stuff

.classpath

.project

.settings


.gwt


#targets


*/target*

doc/result*

gui/src/main/webapp/WEB-INF/lib/

#IntelliJ stuff

.idea

*/*.iml
*.iml




#vim stuff

*.swp


# runtime stuff

live.log.1

myconfiguration.xml
